travail_personnel.tex
travail_personnel.aux
travail_personnel.fdb_latexmk
travail_personnel.log
travail_personnel.synctex(busy)
.vscode/extensions.json
travail_personnel.dvi
travail_personnel.fls
travail_personnel.synctex.gz
travail_personnel.toc
travail_personnel.pdf
Revillon_Alexandre_travail_personnel_Big_Data.pdf
